.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
  
    h1 {
      font-size: 40px;
      font-weight: bolder;
      margin-bottom: 40px;
    }
  
    form {
      width: 100%;
      max-width: 400px;
      padding-bottom: 15%;
    }
  
   
}
.LogRegButtons{
    --color: rgb(255, 255, 255);
    --background: transparent;
    background-color: rgb(3, 193, 53);
}