<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <h1>What would you like to Do?</h1>
    <div class="buttons">
      <ion-button class="main-buttons" routerLink="/tabs/manage-livestock">
        Manage Livestock
      </ion-button>
      <ion-button class="main-buttons" routerLink="/tabs/managePastures">
        Manage Pastures
      </ion-button>
      <ion-button class="main-buttons" routerLink="/tabs/manageWeather">
        Check the Weather
      </ion-button>
    </div>
    
    </div>
</ion-content>
