<ion-content class="home-content">
  <div class="welcome-container">
    <h1>FarmTracker</h1>
    
    <div class="get-started-section">
      <h2>Ready to get Started?</h2>
      <ion-button class="get-started-button" expand="block" routerLink="/tabs/login">
        GET STARTED
      </ion-button>
      <!-- BOTTOM 2 BUTTONS DONT LINK TO ANYTHING -->
      <ion-button class="get-started-button" expand="block" routerLink="/tabs/login">
        TUTORIAL
      </ion-button>
      <ion-button class="get-started-button" expand="block" routerLink="/tabs/login">
        CREDITS
      </ion-button>
    </div>
  </div>
</ion-content>